<h2>本当にアカウントを削除しますか？</h2>

<p>削除後はアカウントの復元などはできませんのでご了承ください。</p>


<%= button_to "アカウント削除", registration_path(resource_name), data: {  turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "w-50 mx-auto  form-control btn btn-danger mb-4 mt-2" %>
