<header>
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="<%= root_path %>">ToDo App</a>
      <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="d-none d-md-flex">
        <li class="nav-item d-flex me-3">
          <a class="nav-link" aria-current="page" href="#">ユーザー名</a>
        </li>
        <li class="nav-item d-flex me-3">
          <a class="nav-link" href="#">新規登録</a>
        </li>
        <li class="nav-item d-flex me-3">
          <a class="nav-link" href="#">ログイン</a>
        </li>
        <li class="nav-item d-flex me-3">
          <a class="nav-link" href="#">ログアウト</a>
        </li>
      </ul>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
        
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">ユーザー名</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">新規登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
