<h1 class="mb-5 fs-3">タスク管理サービス</h1>
<%= image_tag "/images/pencil-girl.png", alt: "ペンシルガールのイラスト", width: "250", height: "250" %>
<div class="mt-5">
  <p class="mb-3">当サイトはタスクを管理するウェブサービスです</p>
  <p class="mb-3">ログインすると個人のタスクの管理が簡単に出来るようになります<br>
    新規登録からアカウントを作成して素早くタスクを管理しましょう</p>
</div>