@charset 'utf-8';

body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6,
p, ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* task -> index */



// 編集、新規登録などのフォーム
.field, .actions {
  input {
    width: 50%;
    margin: 0 auto;
  }
  input[type="checkbox"] {
    width: 20px;
  }
}

.back-btn, .account-delete-btn {
  width: 50%;
  margin: 0 auto;
}